<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.common.dao.sys.SysLoginLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.common.entity.sys.SysLoginLog">
        <id column="log_id" property="logId" />
    <result column="create_time" property="createTime" />
    <result column="create_user" property="createUser" />
        <result column="log_name" property="logName" />
        <result column="succeed" property="succeed" />
        <result column="message" property="message" />
        <result column="ip" property="ip" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        create_user,
        log_id, log_name, succeed, message, ip
    </sql>

</mapper>
